.top-wrap{
    padding-bottom: 42%
}
.top-bg{
    top: 0;
    height: 139px;
    opacity: .55;
}
.top-bg {
    top: 0;
    height: 139px;
    opacity: .55;
    background: -moz-linear-gradient(top,rgba(0,0,0,.91),rgba(0,0,0,0));
    background: -webkit-gradient(linear,0 top,0 bottom,from(rgba(0,0,0,.91)),to(rgba(0,0,0,0)));
    background-image: -webkit-gradient(linear, 0 0%, 0 100%, from(rgba(0, 0, 0, 0.91)), to(rgba(0, 0, 0, 0)));
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
    background: -o-linear-gradient(top,rgba(0,0,0,.91),rgba(0,0,0,0));
    background: -ms-linear-gradient(top,rgba(0,0,0,.91),rgba(0,0,0,0));
    background: linear-gradient(top,rgba(0,0,0,.91),rgba(0,0,0,0));
}
.logo{
    position: absolute;
    top: 16px;
    left: 0;
}
.fl{
    float: left;
}
.top-banner {
    position: absolute;
    left: 12%;
    right: 8%;
    width: 80%;
}

.userbar {
    position: absolute;
    top: 24px;
    right: 0;
}
.fr{
    float: right;
}

.map {
    top: 37%;
    bottom: -45px;
    left: 12%;
    right: 12%;
    width: 76%;
}
.merchant-join {
    width: 358px;
    height: 148px;
    padding-left: 130px;
    margin: 0 auto;
    background: url(http://xs01.meituan.net/waimai_web/img/map/enter_bg.png) no-repeat;
    background-size: 100% auto;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://xs01.meituan.net/waimai_web/img/map/bg.jpg', sizingMethod='scale')\9;
}
.map-footer {
    margin-top: 80px;
    border-top: 1px solid #E5E5E5;
}